.animateicon {
    transition: all 0.3s ease;
    animation: animate 2s infinite;
}

.animateicon:hover {
    animation: none;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}